.register-container {
    .header {
        height: 45px;
        padding-right: 20px;
        padding-top: 15px;
        margin-right: 350px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        span {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        button {
            border: none;
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 5px;
            background: white;
            border: 1px solid;
        }
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
        font-weight: bold;
    }

    .welcome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }
        input {
            margin-bottom: 15px;
        }

        .pass-group {
            position: relative;
            .icons-eye {
                position: absolute;
                top: 35px;
                right: 20px;
                cursor: pointer;
            }
        }

        .btn-submit {
            width: 100%;
            height: 50px;
            border: none;
            margin: 15px 0;
            border-radius: 5px;
            background: black;
            color: white;
        }
        .forgot-password {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .btn-page {
            border: 1px solid;
            width: 100%;
            padding: 10px 0;
            background: green;
            color: whitesmoke;
            border-radius: 5px;
        }
    }
}
